.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #000;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-top-body-margin {
    margin-bottom: 95px;
}

.brand-name-wrapper {
    margin-bottom: 10px;
}

.brand-name {
    font-family : 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.menu-item-link {
    display: inline-block;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.menu-item-link:hover {
    border-bottom: 1px solid orangered;
}

.menu-item {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    list-style-type: none;
}

.navbar-bitmoji {
    background: url('../../assets/images/dragon.png');
    background-size: contain;
    background-position: center;
    height: 95px;
    width: 95px;
    position: fixed;
    top: 0;
    right: 0;
}