.header-image-wrapper {
    margin-bottom: 20px;
}

.header-link {
    text-decoration: none;
}

.header-image {
    position: relative;
    height: 400px;
    background: url('../../../../assets/images/header.jpg');
    background-size: cover;
    background-position: center;
}

.header-content {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.2em;
    display: inline-block;
    letter-spacing: 0.2px;
    color: #fff;
    box-shadow: 0 -7px 0 rgba(50, 197, 143, 0.6) inset;
}

.header-image:hover .header-title {
    box-shadow: none;
    background: rgba(50, 197, 143, 0.6);
}

.header-title-wrapper {
    margin-bottom: 10px;
}

.header-description {
    font-family: 'Roboto Slab', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 22px;
}